In [8]:
""" Iterators and List Compherenesion"""
import pandas as pd
data = pd.read_csv('pokemon.csv')

In [2]:
# iteration example
name = "ronaldo"
it = iter(name)
print(next(it))    # print next iteration
print(*it)         # print remaining iteration

r
o n a l d o

In [3]:
# zip example
list1 = [1,2,3,4]
list2 = [5,6,7,8]
z = zip(list1,list2)
print(z)
z_list = list(z)
print(z_list)

<zip object at 0x7f4f1c541e60>
[(1, 5), (2, 6), (3, 7), (4, 8)]

In [4]:
un_zip = zip(*z_list)
un_list1,un_list2 = list(un_zip) # unzip returns tuble
print(un_list1)
print(un_list2)
print(type(un_list2))
print(type(list(un_list2)))

(1, 2, 3, 4)
(5, 6, 7, 8)
<class 'tuple'>
<class 'list'>

In [5]:
# Example of list comprehension
num1 = [1,2,3]
num2 = [i + 1 for i in num1 ]
print(num2)

[2, 3, 4]

In [9]:
# lets return pokemon csv and make one more list comprehension example
# lets classify pokemons whether they have high or low speed. Our threshold is average speed.
threshold = sum(data.Speed)/len(data.Speed)
data["speed_level"] = ["high" if i > threshold else "low" for i in data.Speed]
data.loc[:10,["speed_level","Speed"]] # we will learn loc more detailed later

   speed_level  Speed
0          low     45
1          low     60
2         high     80
3         high     80
4          low     65
5         high     80
6         high    100
7         high    100
8         high    100
9          low     43
10         low     58

In [12]:
data.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'speed_level'],
      dtype='object')

In [21]:
legends = data['Legendary']  == True
data[legends]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,speed_level
156,157,Articuno,Ice,Flying,90,85,100,95,125,85,1,True,high
157,158,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True,high
158,159,Moltres,Fire,Flying,90,100,90,125,85,90,1,True,high
162,163,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True,high
163,164,Mega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,low
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,high
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,high
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,high
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,high